<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div class='errors'>
      <h2>Uh oh, errors!</h2>
      <% @project.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class='field'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class='field'>
    <%= f.submit 'Save' %>
  </div>
<% end %>